<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Email -->
    <add key="email-account" value="1348907384@qq.com" />
    <add key="email-password" value="tyuxeqgpoloxfdig" />
    <add key="email-host" value="smtp.qq.com" />
    <add key="email-port" value="25" />
    <!--<add key="email-account" value="dianyitongxiao@163.com" />
    <add key="email-password" value="" />
    <add key="email-host" value="smtp.163.com" />
    <add key="email-port" value="25" />-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>